<template>
  <v-card width="100%" outlined >
    <h3 class="CardName">CAT Information</h3>
    <v-badge
      left
      overlap
      :color="statusColor"
      v-if="$store.state.TMSetter">
      <v-icon slot="badge" float dark small>{{ $store.getters.TMSetterData }}</v-icon>
      <p class="CurrentSt" v-html="stWithTerm" @dblclick='switchCatMode'></p>
    </v-badge>
          
    <p class="CurrentSt" v-html="stWithTerm" @dblclick='switchCatMode' v-if="!$store.state.TMSetter"></p>

      <v-simple-table dense width="95%">
        <tr>
          <th width="3%">No.</th>
          <th width="4%">Ratio</th>
          <th width="30%">Source</th>
          <th width="30%">Target</th>
          <th width="30%">Memo</th>
          <th width="4%"></th>
        </tr>
        <cat-body-3c />
        
    </v-simple-table>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { SimilarInfo, Opcode } from '../../core/pdbIF';
import catBody from './catBody.vue';
import catBody3c from './catBody3c.vue';

export default Vue.extend({
  data() {
    return {
      modes: ['plain', 'colored', 'rep', 'bi'],
      modesId: 0,
    };
  },
  components: {
    catBody,
    catBody3c,
  },
  computed: {
    statusColor(): 'primary' | 'success' | 'error' | '' {
      switch (this.$store.getters.TMSetterData) {
        case '✓':
          return 'primary';
          break;

        case '':
          return 'success';
          break;

        case '!':
          return 'error';
          break;

        default:
          return '';
          break;
      }
    },
    stWithTerm(): string {
      let ost = this.$store.state.catData.annotated;
      const mode = this.modes[this.modesId];
      const usedTerms = this.$store.state.catData.usedTerms;
      const usedTermsNum = usedTerms.length;
      if (mode === 'plain') {
        ost = this.$store.state.catData.st;
      } else if (mode === 'colored') {
        for (let i = 0; i < usedTermsNum; i++) {
          const sTermDummy = new RegExp('\\[_#' + String(i) + '_\\]', 'g');
          const tTerm = `<span class='term-S'> ${usedTerms[i][0]}</span>`;
          ost = ost.replace(sTermDummy, tTerm);
        }
      } else if (mode === 'rep') {
        for (let i = 0; i < usedTermsNum; i++) {
          const sTermDummy = new RegExp('\\[_#' + String(i) + '_\\]', 'g');
          const tTerm = `<span class='term-T'> ${usedTerms[i][1]}</span>`;
          ost = ost.replace(sTermDummy, tTerm);
        }
      } else if (mode === 'bi') {
        for (let i = 0; i < usedTermsNum; i++) {
          const sTermDummy = new RegExp('\\[_#' + String(i) + '_\\]', 'g');
          const tTerm = `
            <span class='term-S'> ${usedTerms[i][0]}</span><span class='term-T'> ${usedTerms[i][1]}</span>`;
          ost = ost.replace(sTermDummy, tTerm);
        }
      }
      return ost;
    },
  },
  methods: {
    switchCatMode() {
      this.modesId = (this.modesId + 1) % 4;
    },
  },
});
</script>

<style>

tr, td {
  border-style: solid;
  border: ridge;
}

tr.newTM {
  background-color: forestgreen;
}

span.ins {
  color: blue;
  font-weight: bold;
}

span.del {
  color: red;
  text-decoration: line-through;
  font-size: 0.8em;
}

span.term-S {
  background:firebrick;
  color: white;
  text-decoration: underline;
}

span.term-T {
  background: khaki;
  font-size: 120%;
  font-weight: bolder;
}

p.CurrentSt {
  font-size: 1.2rem;
  padding: 8px;
}

</style>
