<template>
    <v-card>
        <h3 class="CardName">My Vuex Store</h3>
        <p>{{ myStore }}</p>
    </v-card>
</template>

<script lang='ts'>
import Vue from 'vue';

export default Vue.extend({
    data() {
        return {
            myStore: '',
        };
    },
    created() {
        this.myStore = JSON.stringify(this.$store.state, null, '\t');
    },
});
</script>

<style>

</style>
