<template>
    <v-card width='100%'>
        <v-badge class="CardName" right color="primary">
            <v-icon slot="badge" dark small @click="sayEvent">icon</v-icon> <!--slot can be any component-->
            <h3 >TESTING VUETIFY</h3>
        </v-badge>
        <div>
        <v-badge
            :color="mode"
        >
            <v-icon slot="badge" float dark small>{{ bdgText }}</v-icon>
            <p @click="toggleColor">囲みます</p>
        </v-badge>
        </div>

        <!-- <v-chip v-for="a of items" :key="a" close @click:close="closing">text{{ a }}</v-chip> -->
        <ul>
            <li v-for="a of items" :key="a">
                <v-chip close @click:close="closing">text{{ a }}</v-chip>
            </li>
        </ul>
        <p class="hoge">hogahoge</p>
        <!-- <v-date-picker v-model="value" :landscape="true" :reactive="true"></v-date-picker> -->
    </v-card>
</template>

<script lang='ts'>
import Vue from 'vue';

export default Vue.extend({
    data() {
        return {
            items: [0, 1, 3],
            mode: 'success',
        };
    },
    computed: {
        bdgText() {
            switch (this.mode) {
                case 'success':
                    return '✓';
                    break;

                case 'primary':
                    return '?';
                    break;

                case 'error':
                    return '!';
                    break;

                default:
                    break;
            }
        },
    },
    methods: {
        sayEvent(ev: Event) {
            console.log(ev.target);
        },
        closing() {
            this.items.pop();
        },
        toggleColor() {
            if (this.mode === 'success') {
                this.mode = 'error';
            } else if (this.mode === 'error') {
                this.mode = 'primary';
            } else if (this.mode === 'primary') {
                this.mode = 'success';
            }
        },
    },
});
</script>

<style>
.hoge{
    padding: 10px;
}

</style>
