<template>
    <v-card width='100%'>
        <v-form>
            <v-row>
            <v-col cols="8">
                <v-text-field label="Source" v-model='qfilter'></v-text-field>
            </v-col>
            <v-col cols="2">
                <v-btn color="success" @click="applyFilter">Apply</v-btn>
            </v-col>
            <v-col cols="2">
                <v-btn color="cancel" @click="clearFilter">Clear</v-btn>
            </v-col>
            </v-row>
        </v-form>
    </v-card>
</template>

<script lang='ts'>
import Vue from 'vue';
import Datastore from 'nedb';

const myData = new Datastore();
const contents = [
    {fid: 0, st: 'hoge', tt: 'fuga'},
    {fid: 0, st: 'hohe', tt: 'fuha'},
    {fid: 0, st: 'honya', tt: 'funya'},
    {fid: 1, st: 'honhon', tt: 'funfun'},
    {fid: 1, st: 'lalala', tt: 'lululu'},
    {fid: 2, st: 'lululu', tt: 'rororo'},
];
myData.insert(contents, () => {
    console.log('myData created');
});

// DBにフィルタをかけるためのキューオブジェクトを生成する関数
// st/tt は配列で受け取る。
function DBFilterQueCreation(
    fid: number[],
    st: string[], stexact: boolean, stor: boolean,
    tt: string[], ttexact: boolean, ttor: boolean,
    stttor: boolean): any {
        // st tt ともに空の場合はnullを返す
        // fidのみで全文表示できるようにするかは検討中
        if (st[0] === '' && tt[0] === '') {
            return null;
        }
        // fidに関するキューを作る。-1を受け取った場合は、すべてのfidから検索する
        const fidq: null | any = fid[0] === -1 ? null : { fid: { $in : fid }};

        // stに関するキューを作る。空の場合はundefinedとなる
        let stq;
        if (st[0] !== '') {
            // 曖昧一致の場合は正規表現を使って生成していく
            if (!stexact) {
                const sts = [];
                for (const ast of st) {
                    const strgx = new RegExp('.*' + ast + '.*');
                    sts.push({st: { $regex: strgx}});
                }
                if (stor) {
                    stq = { $or: sts };
                } else {
                    stq = { $and: sts };
                }
            // 完全一致の場合は文字列を使用する
            } else {
                if (st.length === 1) {
                    stq = { st: st[0] };
                } else {
                    stq = { st: { $in: st } };
                }

            }
        }

        // ttに関するキューを作る。空の場合はundefinedとなる
        let ttq;
        if (tt[0] !== '') {
            // 曖昧一致の場合は正規表現を使って生成していく
            if (!ttexact) {
                const tts = [];
                for (const att of tt) {
                    const ttrgx = new RegExp('.*' + att + '.*');
                    tts.push({tt: { $regex: ttrgx}});
                }
                if (ttor) {
                    ttq = { $or: tts };
                } else {
                    ttq = { $and: tts };
                }
            // 完全一致の場合は文字列を使用する
            } else {
                if (tt.length === 1) {
                    ttq = { tt: tt[0] };
                } else {
                    ttq = { tt: { $in: tt } };
                }
            }
        }

        // st / tt を合わせたキューをつくる
        // いずれかがundefinedの場合は、一方のみになる
        let stttQue;
        if (stq === undefined) {
            stttQue = ttq;
        } else if (ttq === undefined) {
            stttQue = stq;
        } else {
            stttQue = stttor ? { $or: [stq, ttq]} : { $and: [stq, ttq] };
        }
        const filterQue = fidq === null ? stttQue : { $and: [fidq, stttQue] };

        return filterQue;
    }

export default Vue.extend({
    data() {
        return {
            qfilter: '',
        };
    },
    methods: {
        clearFilter() {
            this.qfilter = '';
        },
        async applyFilter() {
            // if (this.qfilter === '') {
            //     DBFilterQueCreation([0], ['h', 'a'], false, false, ['f'], false, false, false);
            //     return;
            // }
            console.log(this.qfilter);
            // const myq = new RegExp('.*' + this.qfilter + '.*');
            // st か tt どちらかにあるかどうかを探す
            // myData.find({$or: [{st: { $regex: myq }}, {tt: { $regex: myq }}]}, (err: Error, docs: any[]) => {
            //     console.log(docs);
            // })
            // st か tt どちらにもあるかどうかを探す
            // myData.find({st: { $regex: myq }}, {tt: { $regex: myq }}, (err: Error, docs: any[]) => {
            //     console.log(docs);
            // })
            // fidを指定した範囲から、st か tt どちらかにあるかどうかを探す
            // myData.find(
            //     { $or: [{ st: { $regex: myq } }, { tt: { $regex: myq } } ] },
            //     { $in: { fid: [0, 1] } },
            //     (err: Error, docs: any[]) => {
            //         console.log(docs);
            //     });
            // fidを指定した範囲から、st か tt どちらかにあるかどうかまたはhがあるかどうかを探す
            // const myqh = new RegExp('.*' + 'h' + '.*');
            // myData.find(
            //     { $or: [{ st: { $regex: myq } }, { st: { $regex: myqh } }, { tt: { $regex: myq } } ] },
            //     { $in: { fid: [0, 1] } },
            //     (err: Error, docs: any[]) => {
            //         console.log(docs);
            //     });
            const filterQue = DBFilterQueCreation(
                [-1], [this.qfilter, 'hoge'], true, true, [this.qfilter], false, true, true,
            );
            console.log('got a filter');
            if (filterQue === null) {
                console.log('please input que');
            } else {
                myData.find(filterQue).sort({fid: 1}).exec((err: Error, docs: any[]) => {
                    console.log(docs);
                });
            }

        },
  },
});
</script>

<style>
.hoge{
    padding: 10px;
}

</style>
