<template>
    <v-card width='100%'>
        <h3 class="CardName">TESTING</h3>
            <v-checkbox v-model="selected" label="John" value="John" color="red"></v-checkbox>
            <v-checkbox v-model="selected" label="Jacob" value="Jacob"></v-checkbox>
        <ul>
            <li><p role="textarea">nyu</p></li>
            <li><button @click='test1'>TEST1</button></li>
            <li><button @click='test2'>TEST2</button></li>
            <li><button @click='test3'>TEST3</button></li>
            <li><button @click='test4'>TEST4</button></li>
        </ul>
        <v-textarea
            ref="bodyRef"
            id="testarea"
            label="Test text area"
            v-model="testing"
            @keyup.ctrl="keyupper"
            @keyup.alt="keyupper2"
        ></v-textarea>
    </v-card>
</template>

<script lang='ts'>
import Vue from 'vue';

interface HTMLElementEvent<T extends HTMLElement> extends KeyboardEvent {
    target: T;
}

export default Vue.extend({
    data() {
        return {
            c: 0,
            testing: '',
            selected: [],
        };
    },
    methods: {
        test1() {
            console.log(this.selected);
        },
        test2() {
            console.log('test2');
        },
        test3() {
            console.log('test3');
        },
        test4() {
            console.log('test4');
        },
        // hellobadge() {
        //     console.log('hy my badge');
        // },
        // keyupper(ev: HTMLElementEvent<HTMLInputElement>) {
        //     console.log(ev.key);
        //     console.log(ev.target.selectionStart);
        // },
        // keyupper2(ev: KeyboardEvent) {
        //     // this.keyupper(ev);
        // },
        // entered() {
        //     console.log('entered');
        // },
    },
});
</script>

<style>

</style>
