<template>
    <v-card width="100%">
        <h3 class="CardName" ><slot>DBs Name</slot></h3>
            <ol>
                <li v-for='(dbFileData, dbId) in dbs' :key="dbType + String(dbId)" class="dbf">
                    <v-row>
                        <v-col cols="12" sm="7" @click="showStas(dbId)">{{ dbFileData.name }}</v-col>
                        <v-col cols="12" sm="1">{{ dbFileData.nums }}</v-col>
                        <!-- <v-col cols="12" sm="1" @click='openEditor(dbId)' class="adjbtn edit">[E]</v-col> -->
                        <v-col cols="12" sm="1" @click='moveUp(dbId)' class="adjbtn arrow">↑</v-col>
                        <v-col cols="12" sm="1" @click='moveDown(dbId)' class="adjbtn arrow">↓</v-col>
                        <v-col cols="12" sm="1" @click='remove(dbId)' class="adjbtn cross">×</v-col>
                    </v-row>
                </li>
            </ol>
        <v-dialog
            v-model="removeModal"
            max-width="500px"
        >
            <v-card>
                <v-card-title primary-title>
                    Are you sure to remove TM / TB ?
                </v-card-title>
                <v-card-text>{{ removingFile }}</v-card-text>
                <v-btn
                    color="green darken-1"
                    text
                    @click="confirmRemove"
                >
                    Confirm
                </v-btn>
                <v-btn
                    color="green darken-1"
                    text
                    @click="cancelRemove"
                >
                    Cancel
                </v-btn>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { VSSetDBQue, VSRequireQue } from '../../core/pdbIF';

export default Vue.extend({
    props: ['dbType'],
    data() {
        // [fileName, numberOfDocs]の二次元配列を持つdbsを作る
        return {
            dbs: this.dbType === 'TMs' ? this.$store.state.includedTMs.slice() : this.$store.state.includedTBs.slice(),
            dbsMoving: [[0, 0]],
            removeModal: false,
            removingFile: '',
            removingData: {
                type: '',
                fid: 0,
            },
        };
    },
    created() {
        ipcRenderer.send('vue-created');
    },
    computed: {
        ctdbs() {
            if (this.dbType === 'TMs') {
                return this.$store.state.includedTMs.slice();
            } else if (this.dbType === 'TBs') {
                return this.$store.state.includedTBs.slice();
            }
        },
    },
    watch: {
        ctdbs() {
            this.dbs = this.ctdbs.slice();
        },
    },
    methods: {
        // openEditor(idx: number) {
        //     const vm = this;
        //     return new Promise(function(resolve) {
        //         ipcRenderer.send('vs-editorRequest', { dbType: vm.dbType, idx });
        //         ipcRenderer.on('sv-editorContents', (ev: Event, res: any[]) => {
        //             localStorage.setItem('editingDB', JSON.stringify(res));
        //             ipcRenderer.send('vs-editorOpen');
        //             resolve();
        //         });
        //     }).then(() => {
        //         ipcRenderer.send('vs-editorOpen-OK');
        //     });
        // },
        moveUp(idx: number): void {
            if (idx <= 1) {
                return;
            }
            this.dbs.splice(idx - 1, 0, this.dbs[idx]);
            this.dbs.splice(idx + 1, 1);
            this.dbsMoving.push([idx, idx - 1]);
        },
        moveDown(idx: number): void {
            if (idx <= 0 || idx === this.dbs.length - 1) {
                return;
            }
            this.dbs.splice(idx + 2, 0, this.dbs[idx]);
            this.dbs.splice(idx, 1);
            this.dbsMoving.push([idx, idx + 1]);
        },
        update() {
            const que: VSSetDBQue = {
                target: 'TMTBs',
                control: 'adjustFid',
                data: {
                    dbsMoving: this.dbsMoving.slice(1),
                },
            };
            this.$store.commit('UpdatePriority', que.data);
            ipcRenderer.send('vs-setToDB', que);
        },
        remove(idx: number): void {
            if (idx === 0) {
                return;
            }
            this.removeModal = true;
            this.removingData.type = this.dbType;
            this.removingData.fid = idx;
            this.removingFile = this.dbs[idx].name;
        },
        confirmRemove() {
            const target = this.removingData.type === 'TMs' ? 'TMs' : 'TBs';
            const que: VSSetDBQue = {
                target,
                control: 'removeDB',
                data: this.removingData.fid,
            };
            this.$store.commit('RemoveTMTBFile', que);
            ipcRenderer.send('vs-setToDB', que);
            this.cancelRemove();
        },
        cancelRemove() {
            this.removingFile = '';
            this.removingData.type = '';
            this.removingData.fid = 0;
            this.removeModal = false;
        },
        showStas(dbId: number) {
            const que: VSRequireQue = {
                target: 'dbView',
                data: `?dbType=${this.dbType}&fid=${dbId}`,
            };
            ipcRenderer.send('vs-require', que);
        },
    },
});
</script>

<style scoped>

.adjbtn {
    text-align: center;
    float: right;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight: bolder;
}

.adjbtn:hover {
    background-color: #80DEEA;
}

.arrow {
    color: #00838F;
}

.cross {
    color: brown;
}

li.dbf:hover {
    background-color: #E0F7FA;
}

</style>