<template>
    <v-card width="100%">
        <h3 class="CardName" ><slot>MT API keys</slot></h3>
        <v-row>
            <v-col cols="6">
                <v-text-field v-model="srcLang" label="Source Locale" />
            </v-col>
            <v-col cols="6">
                <v-text-field v-model="tgtLang" label="Target Locale" />
            </v-col>
        </v-row>
        
        <v-row>
            <v-col cols="3">
                <v-switch label="Google" v-model="useGcp"></v-switch>
            </v-col>
            <v-col cols="9">
                <v-text-field v-model="gcpKey" type="password" label="API Key for Google Translation" />
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="3">
                <v-switch label="DeepL" v-model="useDeepL"></v-switch>
            </v-col>
            <v-col cols="9">
                <v-text-field v-model="deepLKey" type="password" label="API Key for DeepL Translation" />
            </v-col>
        </v-row>
        
        <div class="text-center">
            <v-btn class="ma-2" color="cyan darken-3" depressed @click="confirmApiKey">Confirm</v-btn>
        </div>
    </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { VSSyncQue } from '../../core/pdbIF';

export default Vue.extend({
    data() {
        return {
            useGcp: false,
            gcpKey: '',
            useDeepL: false,
            deepLKey: '',
            srcLang: '',
            tgtLang: '',
        };
    },
    created() {
        this.useGcp = this.$store.state.MTInfo.useGcp;
        this.gcpKey = this.$store.state.MTInfo.gcpKey;
        this.useDeepL = this.$store.state.MTInfo.useDeepL;
        this.deepLKey = this.$store.state.MTInfo.deepLKey;
        this.srcLang = this.$store.state.MTInfo.srcLang;
        this.tgtLang = this.$store.state.MTInfo.tgtLang;
    },
    methods: {
        confirmApiKey() {
            const que: VSSyncQue = {
                target: 'MT',
                data: {
                    useGcp: this.useGcp,
                    gcpKey: this.gcpKey,
                    useDeepL: this.useDeepL,
                    deepLKey: this.deepLKey,
                    srcLang: this.srcLang,
                    tgtLang: this.tgtLang,
                },
            };
            this.$store.commit('SetMTInfo', que.data);
            ipcRenderer.send('vs-sync', que);
        },
    },
});
</script>