<template>
    <v-card width="100%">
        <h3 class="CardName" >
            View Mode
        </h3>
        <v-btn-toggle
            mandatory v-model="viewMode" tile
            color="cyan darken-4"
            group
        >
            <v-btn value="2c">2 Columns</v-btn>
            <v-btn value="3c">3 Columns</v-btn>
            <v-btn value="2cp">2 Columns + Memo</v-btn>
            <v-btn value="2r">2 Rows</v-btn>
            <v-btn value="3r">3 Rows</v-btn>
            <v-btn value="2rp">2 Rows + Memo</v-btn>
        </v-btn-toggle>
        <v-switch type='checkbox' v-model='onTop' label='Allways On Top' class="pl-4" color="cyan darken-4">
        </v-switch>
        <div class="text-center">
            <v-btn color="cyan darken-3" @click="changeView">Confirm</v-btn>
        </div>
    </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { VSRequireQue } from '../../core/pdbIF';

export default Vue.extend({
    data() {
        return {
            viewMode: '',
            onTop: false,
        };
    },
    created() {
        this.viewMode = this.$store.state.viewMode;
        this.onTop = this.$store.state.onTop;
    },
    methods: {
        changeView() {
            this.$store.commit('ChangeView', {viewMode: this.viewMode, onTop: this.onTop });
            this.$router.push('/cat');
            const que: VSRequireQue = {
                target: 'onTop',
                data: this.onTop,
            };
            ipcRenderer.send('vs-require', que);
        },
    },
});
</script>
