<template>
    <v-card width="100%">
        <h3 class="CardName" >
            Smilarity Calculation
        </h3>
        <v-simple-table dense>
            <thead>
                <tr>
                    <th width="25%">Lower</th>
                    <th width="25%">Original</th>
                    <th width="25%">Upper</th>
                    <th width="25%">Min. Matched</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <v-text-field
                            dense
                            v-model="lBound"
                            single-line
                            hide-details
                            type="number"
                            suffix="%"
                        ></v-text-field>
                    </td>
                    <td>
                        <v-text-field
                            dense
                            readonly
                            hide-details
                            single-line
                            value="<= 100 <="
                        ></v-text-field></td>
                    <td>
                        <v-text-field
                            dense
                            v-model="uBound"
                            single-line
                            hide-details
                            type="number"
                            suffix="%"
                        ></v-text-field>
                    </td>
                    <td>
                        <v-text-field
                            dense
                            v-model="rlimit"
                            hide-details
                            single-line
                            type="number"
                            suffix="%"
                        ></v-text-field>
                    </td>
                </tr>
            </tbody>
        </v-simple-table>
        <div class="text-center">
            <v-btn class="ma-2" color="cyan darken-3" depressed @click="saveCalcPreference">SAVE</v-btn>
            <v-btn class="ma-2" color="cyan darken-3" outlined @click="resetCalcPreference">RESET</v-btn>
            <v-btn class="ma-2" color="dark" outlined @click="defaultCalcPreference">DEFAULT</v-btn>
        </div>
    </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { PrefInfo, VSSyncQue } from '../../core/pdbIF';

export default Vue.extend({
    data() {
        return {
            uBound: this.$store.state.prefData.upperBound,
            lBound: this.$store.state.prefData.lowerBound,
            rlimit: this.$store.state.prefData.ratioLimit,
        };
    },
    methods: {
        saveCalcPreference() {
            const newPrefData: PrefInfo = {
                upperBound: Number(this.uBound),
                lowerBound: Number(this.lBound),
                ratioLimit: Number(this.rlimit),
                realTimeQa: true,
            };
            const que: VSSyncQue = {target: 'pref', data: newPrefData};
            this.$store.commit('UpdatePreference', newPrefData);
            ipcRenderer.send('vs-sync', que);
        },
        resetCalcPreference() {
            this.uBound = this.$store.state.prefData.upperBound;
            this.lBound = this.$store.state.prefData.lowerBound;
            this.rlimit = this.$store.state.prefData.ratioLimit;
        },
        defaultCalcPreference() {
            this.uBound = 125;
            this.lBound = 75;
            this.rlimit = 70;
            this.saveCalcPreference();
        },
    },
});
</script>
