<template>
    <!-- <v-card width="100%"> -->
    <v-card color="blue-grey lighten-5">
        <h3 class="CardName">Simple Editor</h3>
        <v-row>
            <v-col cols="6">
                <v-textarea filled hide-details v-model="saSt" @keydown.enter.prevent="quickConfirmSt"></v-textarea>
            </v-col>
            <v-col cols="6">
                <v-textarea filled hide-details v-model="saTt" @keydown.enter.prevent="quickConfirmTt"></v-textarea>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="2">
                <v-btn @click="confirmSimpleSt">Inqure</v-btn>
            </v-col>
            <v-col cols="2">
                <v-btn @click="confirmSimpleStWithFilter">Inqure &amp; Filter</v-btn>
            </v-col>
            <v-col cols="2">
                <v-text-field type="number" v-model="autoFilter" min="-1"/>
            </v-col>
            <v-col cols="2">
                <v-btn @click="quickConfirmTt">SET</v-btn>
            </v-col>
        </v-row>
    </v-card>

</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { VSRequireQue, DBFilterQuery, VSGetDBQue } from '../../core/pdbIF';

export default Vue.extend({
    data() {
        return {
            saSt: '',
            saTt: '',
            autoFilter: 10,
        };
    },
    methods: {
        quickConfirmSt() {
            if (this.saSt.length < this.autoFilter || this.autoFilter === -1) {
                this.confirmSimpleStWithFilter();
            } else {
                this.confirmSimpleSt();
            }
        },
        confirmSimpleSt() {
            if (this.saSt !== '') {
                const que: VSRequireQue = {
                    target: 'calcSt',
                    data: {
                        st: this.saSt,
                    },
                };
                ipcRenderer.send('vs-require', que);
            }
        },
        confirmSimpleStWithFilter() {
            if (this.saSt !== '') {
                this.confirmSimpleSt();
                const fileterQue: DBFilterQuery = {
                    fid: [-1], stttor: true,
                    st: [this.saSt], stexact: false, stor: true,
                    tt: [this.saSt], ttexact: false, ttor: true,
                };
                const que: VSGetDBQue = {
                    target: 'TMTBs',
                    control: 'filter',
                    data: fileterQue,
                };
                ipcRenderer.send('vs-getFromDB', que);
            }
        },
        quickConfirmTt() {
            if (this.saTt !== '' && this.saTt !== '') {
                const que: VSRequireQue = {
                    target: 'newTt',
                    data: {
                        st: this.saSt,
                        tt: this.saTt,
                    },
                };
                ipcRenderer.send('vs-require', que);
            }
        },
    },
});
</script>

<style scoped>

</style>