<template>
    <tbody  width="95%">
        <tr>
            <td class="rowTitle" width="10%">{{ $store.state.QaData.from }}</td>
            <td>{{ $store.state.QaData.st }}</td>
            <td>{{ $store.state.QaData.tt }}</td>
            <td @click="editTM(0, -1)">[E]</td>
        </tr>
    </tbody>
</template>

<script lang='ts'>
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { VSGetDBQue } from '../../core/pdbIF';

export default Vue.extend({
    methods: {
        editTM(fid: number, keyId: number): void {
            if (
                // this.$store.state.editingData.displayTB
                // && this.$store.state.editingData.fid === fid
                this.$store.state.editingData.fid === fid
                && this.$store.state.editingData.keyId === keyId
            ) {
                this.$store.commit('ColseMiniEditor');
            } else {
                const que: VSGetDBQue = { target: 'TMs', control: 'ME', data: {fid, keyId} };
                ipcRenderer.send('vs-getFromDB', que);
            }
        },
    },
});
</script>

<style>

</style>
