<template>
    <tbody>
        <tr v-for='(result, ridx) in $store.state.QaData.results' :key='"R_" + ridx'>
            <td class="rowTitle">{{ result.errtype }}</td>
            <td>{{ result.sInfo }}</td>
            <td>{{ result.tInfo }}</td>
            <td></td>
        </tr>
    </tbody>
</template>

<script lang='ts'>
import Vue from 'vue';
import { QaInfo } from '../../core/pdbIF';

export default Vue.extend({
});
</script>

<style>

</style>
