<template>
    <v-card width='100%'>
    <!-- <v-card-title class="RightItalic">QA</v-card-title> -->
    <h3 class="CardName">QA</h3>
    <v-simple-table  dense width="95%">
        <thead>
            <tr>
                <th width="8%">Type</th>
                <th width="44%">Source</th>
                <th width="44%">Target</th>
                <th width="4%"></th>
            </tr>
        </thead>
        <qa-body-segment v-if="qaOn"/>
        <qa-body-result v-if="qaOn"/>
    </v-simple-table>
    </v-card>
</template>

<script lang='ts'>
import Vue from 'vue';
import { QaResultInfo, QaInfo } from '../../core/pdbIF';
import qaBodySegment from './qaBodySegment.vue';
import qaBodyResult from './qaBodyResult.vue';

export default Vue.extend({
    components: {
        qaBodySegment,
        qaBodyResult,
    },
    computed: {
        qaOn() {
            return this.$store.state.QaData.st !== '' && this.$store.state.QaData.tt !== '';
        },
    },
});
</script>

<style>

th {
    text-align: center;
}

</style>
