<template>
  <v-form>
    <v-row>
      <v-col cols="6">
        <v-text-field label="Source1" v-model='sfilters[0]' @keydown.enter.prevent="applyFilter"></v-text-field>
        <v-text-field label="Source2" v-model='sfilters[1]' @keydown.enter.prevent="applyFilter"></v-text-field>
        <v-text-field label="Source3" v-model='sfilters[2]' @keydown.enter.prevent="applyFilter"></v-text-field>
        <v-checkbox mandatory v-model="stexact" label="Excact Match"></v-checkbox>
        <v-checkbox mandatory v-model="stor" label="Or Search"></v-checkbox>
      </v-col>
      <v-col cols="6">
        <v-text-field label="Target1" v-model='tfilters[0]' @keydown.enter.prevent="applyFilter"></v-text-field>
        <v-text-field label="Target2" v-model='tfilters[1]' @keydown.enter.prevent="applyFilter"></v-text-field>
        <v-text-field label="Target3" v-model='tfilters[2]' @keydown.enter.prevent="applyFilter"></v-text-field>
        <v-checkbox mandatory v-model="ttexact" label="Excact Match"></v-checkbox>
        <v-checkbox mandatory v-model="ttor" label="Or Search"></v-checkbox>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="5">
        <v-btn-toggle
          mandatory multiple v-model="target" tile
          color="cyan lighten-1"
          group
        >
          <v-btn value="TMs">Translation Mermoy</v-btn>
          <v-btn value="TBs">Termbase</v-btn>
        </v-btn-toggle>
      </v-col>
      <v-col cols="3">
        <v-checkbox mandatory v-model="stttor" label="Source Or Target"></v-checkbox>
      </v-col>
      <v-col cols="1">
        <v-text-field label="File" type="number" v-model="fid" min="-1"></v-text-field>
      </v-col>
      <v-col cols="1">
        <v-btn color="success" @click="applyFilter">Apply</v-btn>
      </v-col>
      <v-col cols="1">
        <v-btn color="cancel" @click="clearFilter">Clear</v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { DBFilterQuery, VSGetDBQue } from '../../core/pdbIF';

export default Vue.extend({
  data() {
    return {
      sfilters: ['', '', ''],
      stexact: false,
      stor: true,
      tfilters: ['', '', ''],
      ttexact: false,
      ttor: true,
      target: ['TMs', 'TBs'],
      stttor: true,
      fid: -1,
    };
  },
  methods: {
    clearFilter() {
      this.sfilters = ['', '', ''];
      this.tfilters = ['', '', ''];
    },
    applyFilter() {
      const sfs = this.sfilters.filter((val) => {
        return val !== '';
      });
      const tfs = this.tfilters.filter((val) => {
        return val !== '';
      });
      let target: 'TMs' | 'TBs' | 'TMTBs';
      if (this.target.length === 2) {
        target = 'TMTBs';
      } else if (this.target[0] === 'TMs') {
        target = 'TMs';
      } else {
        target = 'TBs';
      }
      const filterQue: DBFilterQuery = {
        fid: [Number(this.fid)], stttor: this.stttor,
        st: sfs, stexact: this.stexact, stor: this.stor,
        tt: tfs, ttexact: this.ttexact, ttor: this.ttor,
      };
      const que: VSGetDBQue = {
        target,
        control: 'filter',
        data: filterQue,
      };
      ipcRenderer.send('vs-getFromDB', que);
    },
  },
});
</script>

<style>

tr, td {
  border-style: solid;
  border: ridge;
}

</style>
