<template>
  <v-card width="100%" outlined >
      <h3 class="CardName">Filter Result</h3>
      <filtered-table />
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import filteredTable from './filteredTable.vue';

export default Vue.extend({
  components: {
    filteredTable,
  },
});
</script>

<style>

</style>
