<template>
  <v-card width="100%" outlined >
    <h3 class="CardName">
      Filter
      <v-btn text @click="toggleMode">{{ currentMode }}</v-btn>
      <v-btn text @click="hideFilter" >Hide</v-btn>
    </h3>
    <v-slide-y-transition>
      <filter-quick v-if="qmode" v-show="!hide"/>
      <filter-advanced v-if="!qmode" v-show="!hide"/>
    </v-slide-y-transition>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import filterQuick from './filterQuick.vue';
import filterAdvanced from './filterAdvanced.vue';

export default Vue.extend({
  components: {
    filterQuick,
    filterAdvanced,
  },
  data() {
    return {
      qmode: true,
      hide: false,
    };
  },
  computed: {
    currentMode() {
      if (this.qmode === false) {
        return 'Quick';
      } else {
        return 'Advanced';
      }
    },
  },
  methods: {
    toggleMode() {
      this.qmode = !this.qmode;
    },
    hideFilter() {
      this.hide = !this.hide;
    },
  },
});
</script>

<style>

</style>
