<template>
  <v-form>
    <v-row>
      <v-col cols="8">
        <v-text-field label="Source &amp; Target" v-model='qfilter' @keydown.enter.prevent="applyFilter"></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-btn color="success" @click="applyFilter">Apply</v-btn>
      </v-col>
      <v-col cols="2">
        <v-btn color="cancel" @click="clearFilter">Clear</v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { DBFilterQuery, VSGetDBQue } from '../../core/pdbIF';

export default Vue.extend({
  data() {
    return {
      qfilter: '',
    };
  },
  methods: {
    clearFilter() {
      this.qfilter = '';
    },
    applyFilter() {
      if (this.qfilter === '') {
        return;
      }
      const fileterQue: DBFilterQuery = {
        fid: [-1], stttor: true,
        st: [this.qfilter], stexact: false, stor: true,
        tt: [this.qfilter], ttexact: false, ttor: true,
      };
      const que: VSGetDBQue = {
        target: 'TMTBs',
        control: 'filter',
        data: fileterQue,
      };
      ipcRenderer.send('vs-getFromDB', que);
    },
  },
});
</script>

<style>

tr, td {
  border-style: solid;
  border: ridge;
}

</style>
