<template>
  <v-simple-table dense width="98%">
    <thead>
      <tr>
        <th width="10%">
          File
        </th>
        <th width="30%">
          Source
        </th>
        <th width="30%">
          Target
        </th>
        <th width="30%">
          Memo
        </th>
      </tr>
    </thead>
    <tr>
      <td colspan="4">Translation Memory</td>
    </tr>
    <tbody>
      <tr v-for='(hittm, tmid) in $store.state.filterData.TMs' :key='"HitTM_" + tmid'>
        <td>{{ hittm.fid }}</td>
        <td>{{ hittm.st }}</td>
        <td>{{ hittm.tt }}</td>
        <td>{{ hittm.memo }}</td>
      </tr>
    </tbody>
    <tr>
      <td colspan="4">Termbase</td>
    </tr>
    <tbody>
      <tr v-for='(hittb, tbid) in $store.state.filterData.TBs' :key='"HitTB_" + tbid'>
        <td>{{ hittb.fid }}</td>
        <td>{{ hittb.st }}</td>
        <td>{{ hittb.tt }}</td>
        <td>{{ hittb.memo }}</td>
      </tr>
    </tbody>
  </v-simple-table>
</template>

<script lang="ts">
import Vue from 'vue';
// import { ipcRenderer } from 'electron';

export default Vue.extend({
});
</script>

<style>

tr, td {
  border-style: solid;
  border: ridge;
}

</style>
