<template>
<v-container>
    <v-layout wrap>
      <v-flex>
        <check-card class="ma-2 pa-2"/>
        <tb-card class="ma-2 pa-2"/>
        <qa-card class="ma-2 pa-2"/>
      <v-dialog
        v-model="$store.state.editingData.displayTM"
        scrollable
        :overlay="true"
      >
        <cat-mini-editor />
      </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import checkCard from '../components/cat/checkCard.vue';
import tbCard from '../components/cat/tbCard.vue';
import qaCard from '../components/qa/qaCard.vue';
import catMiniEditor from '../components/cat/catMiniEditor.vue';


export default Vue.extend({
  components: {
    checkCard,
    tbCard,
    qaCard,
    catMiniEditor,
  },
});
</script>

<style>

.bottom-card {
  position: absolute;
  bottom: 1%;
  
}

.CardName {
  color:slategray;
  text-align: right;
  text-decoration-line: underline;
  font-style: italic;
  font-size: 1.3rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
}

td.rowTitle {
  text-align: center;
}

</style>