<template>
    <v-container>
        <v-layout
            wrap
        >
            <v-flex>
                <db-manage-card class="ma-2 pa-2" :dbType="'TMs'">Translation Memories</db-manage-card>
                <db-manage-card class="ma-2 pa-2" :dbType="'TBs'">Termbases</db-manage-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import dbManageCard from '../components/pref/dbManageCard.vue';

export default Vue.extend({
    components: {
        dbManageCard,
    },
});
</script>

<style>
.CardName {
  color:slategray;
  text-align: right;
  text-decoration-line: underline;
  font-style: italic;
  font-size: 0.7rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
}
</style>