<template>
    <div>
        <div>
            <h2>Select File Type</h2>
            <v-btn-toggle
                mandatory v-model="into" tile
                color="cyan darken-4"
                group
                class="ma-1"
            >
                <v-btn value="JSON">JSON</v-btn>
                <v-btn value="CTSV">CSV / TSV</v-btn>
                <v-btn value="TxX">TMX / TBX</v-btn>
                <v-btn value="Excel" disabled>Excel</v-btn>
            </v-btn-toggle>
        </div>
        
        <hr />
        
        <div>
            <h2>Wheter Export 1 file</h2>
            <v-switch type='checkbox' v-model='merge' :label='mergeStatus' class="pl-4" color="cyan darken-4">
            </v-switch>
        </div>

        <hr />

        <div v-if='into === "TxX"'>
            <h2>TMX / TBX Export Settings</h2>
            <v-row>
                <v-col cols="6">
                    <p>Source Locale</p>
                    <v-overflow-btn
                        :items="locales"
                        label="Source Locale"
                        editable
                        v-model="srcLang"
                        class="ma-2"
                    ></v-overflow-btn>
                </v-col>

                <v-col cols="6">
                    <p>Target Locale</p>
                    <v-overflow-btn
                        :items="locales"
                        label="Target Locale"
                        editable
                        v-model="tgtLang"
                        class="ma-2"
                    ></v-overflow-btn>
                </v-col>
            </v-row>
        </div>

        <div v-if='into === "CTSV"'>
            <h2>CSV / TSV Export Settings</h2>
            <h3>Delimiter</h3>
            <v-radio-group v-model="delimiter" row class="pl-4">
                <v-radio label="Comma(,)" value="," color="cyan darken-4"></v-radio>
                <v-radio label="TAB" value="\t" color="cyan darken-4"></v-radio>
            </v-radio-group>
            <h3>Enclosure</h3>
            <v-radio-group v-model="enclosure" row class="pl-4">
                <v-radio label="None" value="None" color="cyan darken-4"></v-radio>
                <v-radio label='Double Quotation("") ' value="dq" color="cyan darken-4"></v-radio>
                <v-radio label="Single Quotation(')" value="sq" color="cyan darken-4"></v-radio>
            </v-radio-group>
        </div>

        <hr />
        
        <div>
            <h2>Select Export File(s)</h2>
            <h3>Translation Memories</h3>
            <v-checkbox
                v-for='(tmCont, tmIdx) of $store.state.includedTMs'
                v-model="exportingTM"
                :key='"exTM" + tmIdx'
                :label="tmCont.name"
                :value="tmIdx"
                dense
                hide-details
                color="cyan darken-4"
                class="pl-4">
            </v-checkbox>
            <h3 class="mt-8">Termbase</h3>
            <v-checkbox
                v-for='(tbCont, tbIdx) of $store.state.includedTBs'
                v-model="exportingTB"
                :key='"exTB" + tbIdx'
                :label="tbCont.name"
                :value="tbIdx"
                dense
                hide-details
                color="cyan darken-4"
                class="pl-4">
            </v-checkbox>
        </div>
        <hr />
        <v-btn block color="cyan darken-3" @click='confirmExportWizard' >Export</v-btn>
    </div>
</template>

<script>
import Vue from 'vue';
import { ipcRenderer } from 'electron';

export default Vue.extend({
    data() {
        return {
            into: 'JSON',
            merge: true,
            exportingTM: [],
            exportingTB: [],
            delimiter: ',',
            enclosure: 'None',
            srcLang: '',
            tgtLang: '',
            locales: [],
        };
    },
    created() {
        this.locales = this.$store.state.locales.slice();
        this.srcLang = this.locales[0];
        this.tgtLang = this.locales[1];
    },
    computed: {
        mergeStatus() {
            return this.merge ? 'Merge to 1 file' : 'Export respectively';
        },
    },
    methods: {
        confirmExportWizard() {
            const ecl = this.enclosure === 'dq' ? '"' : this.enclosure === 'sq' ? '\'' : '';
            ipcRenderer.send('vs-export-wizard', {
                into: this.into,
                merge: this.merge,
                exportTMs: this.exportingTM,
                exportTBs: this.exportingTB,
                ctsvInfo: {
                    delimiter: this.delimiter,
                    enclosure: ecl,
                },
                localeInfo: {
                    srcLang: this.srcLang,
                    tgtLang: this.tgtLang,
                },
            });
        },
    },
});
</script>

<style>

</style>
