<template>
<v-container>
    <v-layout wrap>
      <v-flex>
        <filtering-card class="ma-2 pa-2"/>
        <filtered-card class="ma-2 pa-2"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import filteringCard from '../components/filter/filterFormCard.vue';
import filteredCard from '../components/filter/filteredCard.vue';


export default Vue.extend({
  components: {
    filteringCard,
    filteredCard,
  },
});
</script>

<style>

.CardName {
  color:slategray;
  text-align: right;
  text-decoration-line: underline;
  font-style: italic;
  font-size: 0.7rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
}

</style>