<template>
    <div>
        <div>
            <h2>Select File Type</h2>
            <v-row>
                <v-col cols="8">
                    <v-btn-toggle
                        mandatory v-model="from" tile
                        color="cyan darken-4"
                        group
                    >
                        <v-btn value="JSON">JSON</v-btn>
                        <v-btn value="TxX">TMX / TBX</v-btn>
                        <v-btn value="Excel">Excel</v-btn>
                        <v-btn value="FExcel" disabled>Full Excel</v-btn>
                        <v-btn value="CTSV">CSV / TSV</v-btn>
                        <v-btn value="FCTSV">Full CSV / TSV</v-btn>
                    </v-btn-toggle>
                </v-col>
                <v-col cols="4">
                    <v-btn-toggle
                        mandatory v-model="into" tile
                        color="cyan darken-4"
                        group
                    >
                        <v-btn value="TMs">Translation Mermoy</v-btn>
                        <v-btn value="TBs">Termbase</v-btn>

                    </v-btn-toggle>
                </v-col>
            </v-row>
        </div>
        <hr />

        <div v-if='from === "TxX"'>
            <h2>Read From TMX</h2>
            <v-row>
                <v-col cols="6">
                    <p>Source Locale</p>
                    <v-overflow-btn
                        :items="locales"
                        label="Source Locale"
                        editable
                        v-model="srcLang"
                        class="ma-2"
                    ></v-overflow-btn>
                </v-col>

                <v-col cols="6">
                    <p>Target Locale</p>
                    <v-overflow-btn
                        :items="locales"
                        label="Target Locale"
                        editable
                        v-model="tgtLang"
                        class="ma-2"
                    ></v-overflow-btn>
                </v-col>
            </v-row>
        </div>
  
        <div v-if='from === "Excel"'>
            <h2>Read From Excel</h2>
            <v-row>
                <v-col cols="3">
                    <p>Source Colum</p>
                    <v-overflow-btn
                        :items="cols"
                        label="Source Colum"
                        editable
                        v-model="scol"
                        class="ma-1"
                    ></v-overflow-btn>
                </v-col>

                <v-col cols="3">
                    <p>Target Colum</p>
                    <v-overflow-btn
                        :items="cols"
                        label="Target Locale"
                        editable
                        v-model="tcol"
                        class="ma-1"
                    ></v-overflow-btn>
                </v-col>
                <v-col cols="3">
                    <p>Memo</p>
                    <v-overflow-btn
                        :items="cols"
                        label="Memo Locale"
                        editable
                        v-model="mcol"
                        class="ma-1"
                    ></v-overflow-btn>
                </v-col>
                <v-col cols="3">
                    <p>Skip Header</p>
                    <v-overflow-btn
                        :items="skips"
                        label="Skip Header"
                        editable
                        v-model="header"
                        class="ma-1"
                    ></v-overflow-btn>
                </v-col>
            </v-row>
        </div>

        <div v-if='from === "CTSV" || from === "FCTSV"'>
            <h2>Read From CSV / TSV</h2>
            <v-row>
                <v-col cols="3">
                    <h3>Delimiter</h3>
                    <v-radio-group v-model="delimiter" row class="pl-4">
                        <v-radio label="Comma(,)" value="," color="cyan darken-4"></v-radio>
                        <v-radio label="TAB" value="\t" color="cyan darken-4"></v-radio>
                    </v-radio-group>
                </v-col>
                <v-col cols="6">
                    <h3>Enclosure</h3>
                    <v-radio-group v-model="enclosure" row class="pl-4">
                        <v-radio label="None" value="None" color="cyan darken-4"></v-radio>
                        <v-radio label='Double Quotation("") ' value="dq" color="cyan darken-4"></v-radio>
                        <v-radio label="Single Quotation(')" value="sq" color="cyan darken-4"></v-radio>
                    </v-radio-group>
                </v-col>
                <v-col cols="3">
                    <p>Skip Header</p>
                    <v-overflow-btn
                        :items="skips"
                        label="Skip Header"
                        editable
                        v-model="header"
                    ></v-overflow-btn>
                </v-col>
            </v-row>
        </div>

      <hr />

      <h2>Common Setting</h2>
            <v-row>
                <v-col cols="6">
                    <h3>Read as</h3>
                    <v-radio-group v-model="asWhat" class="pl-4">
                        <v-radio label="As Inner Database" value="i" color="cyan darken-4"></v-radio>
                        <v-radio label="As External Database" value="e" color="cyan darken-4"></v-radio>
                    </v-radio-group>
                </v-col>

                <v-col cols="6">
                    <h3>Edit Permision</h3>
                    <v-radio-group v-model="changeable" class="pl-4">
                        <v-radio label="Allow to edit" value="a" color="cyan darken-4"></v-radio>
                        <v-radio label="Prohibit to edit" value="p" color="cyan darken-4"></v-radio>
                        <v-radio label="As is" value="o"></v-radio>
                    </v-radio-group>
                </v-col>
            </v-row>
        <v-btn block color="cyan darken-3" @click='confirmImportWizard'>Import</v-btn>
    </div>
</template>

<script>
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { ImportQue } from '../core/pdbIF';

export default Vue.extend({
    data() {
        return {
            from: 'JSON',
            into: 'TMs',
            srcLang: '',
            tgtLang: '',
            locales: [],
            cols: ['A', 'B', 'C', 'D', 'E'],
            skips: [0, 1, 2, 3, 4, 5],
            scol: 'A',
            tcol: 'B',
            mcol: 'C',
            header: 0,
            delimiter: ',',
            enclosure: 'None',
            asWhat: 'i',
            changeable: 'a',
            hoge: true,
        };
    },
    created() {
        this.locales = this.$store.state.locales.slice();
        this.srcLang = this.locales[0];
        this.tgtLang = this.locales[1];
    },
    computed: {
        mode() {
            return this.asWhat + this.changeable;
        },
    },
    methods: {
        confirmImportWizard() {
            const ecl = this.enclosure === 'dq' ? '"' : this.enclosure === 'sq' ? '\'' : '';
            ipcRenderer.send('vs-import-wizard', {
                from: this.from,
                into: this.into,
                srcLang: this.srcLang,
                tgtLang: this.tgtLang,
                scol: this.scol,
                tcol: this.tcol,
                mcol: this.mcol,
                header: this.header,
                delimiter: this.delimiter,
                enclosure: ecl,
                mode: this.mode,
            });
        },
    },
});
</script>

<style>

</style>
