<template>
    <v-container>
        <v-layout
            wrap
        >
            <v-flex>
                <pref-calc-card class="ma-2 pa-2" />
                <pref-view-card class="ma-2 pa-2" />
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import prefCalcCard from '../components/pref/prefCalcCard.vue';
import prefViewCard from '../components/pref/prefViewCard.vue';

export default Vue.extend({
    components: {
        prefCalcCard,
        prefViewCard,
    },
});
</script>

<style>
.CardName {
  color:slategray;
  text-align: right;
  text-decoration-line: underline;
  font-style: italic;
  font-size: 0.7rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
}
</style>