<template>
  <v-container>
    <v-layout
      wrap
    >
        <store-card class="pa-2 ma-2"/>
        <!-- <test-DB class="pa-2 ma-2"/> -->
        <test-card class="pa-2 ma-2"/>
        <test-vuetify class="pa-2 ma-2"/>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import storeCard from '../components/test/storeCard.vue';
// import testDB from '../components/test/testDB.vue';
import testCard from '../components/test/testCard.vue';
import testVuetify from '../components/test/testVuetify.vue';


export default Vue.extend({
  components: {
    storeCard,
    // testDB,
    testCard,
    testVuetify,
  },
});
</script>
