<template>
    <v-container>
        <v-layout
            wrap
        >
            <v-flex>
                <v-card class="pa-2">
                    <h3 class="CardName">Restore from Backup</h3>
                    <dl>
                        <dt>Backup 1</dt>
                        <dd>
                            <p v-for="(b1, idx1) in backup1" :key="'b1_'+idx1">{{ b1.split("[&]")}}</p>
                        </dd>
                        <dt>Backup 2</dt>
                        <dd>
                            <p v-for="(b2, idx2) in backup2" :key="'b2_'+idx2">{{ b2.split("[&]")}}</p>
                        </dd>
                        <dt>Backup 3</dt>
                        <dd>
                            <p v-for="(b3, idx3) in backup3" :key="'b3_'+idx3">{{ b3.split("[&]")}}</p>
                        </dd>
                    </dl>
                    <v-overflow-btn
                        :items="myBackups"
                        label="Source Locale"
                        editable
                        v-model="backupSelection"
                        class="ma-2"
                    ></v-overflow-btn>
                    <v-btn @click="restore">RESTORE</v-btn>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang='ts'>
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { VSSyncQue } from '../core/pdbIF';

export default Vue.extend({
    data() {
        const backup1: string[] = [];
        const backup2: string[] = [];
        const backup3: string[] = [];
        return {
            backup1,
            backup2,
            backup3,
            backupSelection: '',
        };
    },
    computed: {
        myBackups() {
            const enabled: string[] = [];
            if (this.backup1.length > 0) {
                enabled.push('Backup1');
            }
            if (this.backup2.length > 0) {
                enabled.push('Backup2');
            }
            if (this.backup3.length > 0) {
                enabled.push('Backup3');
            }
            return enabled;
        },
    },
    created() {
        const data = localStorage.getItem('_sttt');
        if (data === null) {
            return;
        } else {
            const backups = data.split('{@}');
            if (backups.length > 1) {
                this.backup1 = backups[1].split('[;]');
            }
            if (backups.length > 2) {
                this.backup2 = backups[2].split('[;]');
            }
            if (backups.length > 3) {
                this.backup3 = backups[3].split('[;]');
            }
        }
    },
    methods: {
        restore() {
            let data: string[];
            switch (this.backupSelection) {
                case 'Backup1':
                    data = this.backup1;
                    break;

                case 'Backup2':
                    data = this.backup2;
                    break;

                case 'Backup3':
                    data = this.backup3;
                    break;

                default:
                    data = [''];
                    break;
            }
            const repQue: VSSyncQue = {
                target: 'restore',
                data,
            };
            ipcRenderer.send('vs-sync', repQue);
        },
    },
});
</script>

<style>

</style>
