<template>
<v-container>
    <v-layout wrap>
      <v-flex>
        <sa-editor-card class="ma-2 pa-2 anytime"/>
        <v-card height="270px" class="ma-2 pa-2" width="100%"></v-card>
        <cat-card class="ma-2 pa-2"/>
        <tb-card class="ma-2 pa-2"/>
        <filtered-card class="ma-2 pa-2" />
        <qa-card class="ma-2 pa-2 "/>
      <v-dialog
        v-model="$store.state.editingData.displayTM"
        scrollable
        :overlay="true"
      >
        <cat-mini-editor />
      </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import saEditorCard from '../components/standalone/saEditorCard.vue';
import catCard from '../components/cat/catCard.vue';
import tbCard from '../components/cat/tbCard.vue';
import qaCard from '../components/qa/qaCard.vue';
import filteredCard from '../components/filter/filteredCard.vue';
import catMiniEditor from '../components/cat/catMiniEditor.vue';


export default Vue.extend({
  components: {
    saEditorCard,
    catCard,
    tbCard,
    filteredCard,
    qaCard,
    catMiniEditor,
  },
});
</script>

<style scoped>

.anytime {
  width: 1240px;
  height: 270px;
  position: fixed;
  z-index: 10;
}

.bottom-card {
  position: absolute;
  bottom: 1%;
  
}

.CardName {
  color:slategray;
  text-align: right;
  text-decoration-line: underline;
  font-style: italic;
  font-size: 0.7rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
}

td.rowTitle {
  text-align: center;
}

</style>