<template>
<v-container>
    <v-layout wrap>
      <v-flex>
        <v-card>
          <v-row>
            <v-col cols="6">
              <v-textarea v-model="sbr" filled>
              </v-textarea>
            </v-col>
            <v-col cols="6">
              <v-textarea v-model="tbr" filled>
              </v-textarea>
            </v-col>
          </v-row>
          <v-btn @click="deleteKeyCharas('sbr')" color="cyan darken-3" class="ma-1">Delete Brakcets(Source)</v-btn>
          <v-btn @click="deleteKeyCharas('tbr')" color="cyan darken-3" class="ma-1">Delete Brakcets(Target)</v-btn>
          <v-btn @click="addTerms('B')" color="cyan darken-3" class="ma-1">Add Terms</v-btn>
          <v-row>
            <v-col cols="6">
              <v-textarea v-model="spl" filled>
              </v-textarea>
            </v-col>
            <v-col cols="6">
              <v-textarea v-model="tpl" filled>
              </v-textarea>
            </v-col>
          </v-row>
          <v-btn @click="deleteKeyCharas('spl')" color="cyan darken-3" class="ma-1">Delete Parallel Word(Source)</v-btn>
          <v-btn @click="deleteKeyCharas('tpl')" color="cyan darken-3" class="ma-1">Delete Parallel Word(Target)</v-btn>
          <v-btn @click="addTerms('P')" color="cyan darken-3" class="ma-1">Add Terms</v-btn>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { VSRequireQue, StTtMemoDoc, VSSetDBQue } from '../core/pdbIF';

export default Vue.extend({
  data() {
    const brackets = new RegExp(`[「」『』【】《》＜＞“”\"\']`, 'g');
    const delimiters = new RegExp('(、|，|,| and | or |および|及び|または|又は|あるいは|或いは|もしくは|及|以及|或|或者)', 'g');
    return {
      sbr: '',
      tbr: '',
      spl: '',
      tpl: '',
      brackets,
      delimiters,
    };
  },
  computed: {
    initial() {
      return this.$store.state.termHelper.makes;
    },
  },
  watch: {
    initial() {
      const sbr = this.$store.state.termHelper.textInBracket.st.filter((val: string) => {
        if (val !== '') {return val; }
      });
      const tbr = this.$store.state.termHelper.textInBracket.tt.filter((val: string) => {
        if (val !== '') {return val; }
      });
      const spl = this.$store.state.termHelper.textParallel.st.filter((val: string) => {
        if (val !== '') {return val; }
      });
      const tpl = this.$store.state.termHelper.textParallel.tt.filter((val: string) => {
        if (val !== '') {return val; }
      });
      console.log(sbr);
      this.sbr = sbr.join('\n');
      this.tbr = tbr.join('\n');
      this.spl = spl.join('\n');
      this.tpl = tpl.join('\n');
    },
  },
  created() {
    const vm = this;
    const que: VSRequireQue = {
      target: 'term-helper',
      data: '',
    };
    ipcRenderer.send('vs-require', que);
  },
  methods: {
    deleteKeyCharas(target: 'sbr' | 'tbr' | 'spl' | 'tpl') {
      switch (target) {
        case 'sbr':
          this.sbr = this.sbr.replace(this.brackets, '');
          break;

        case 'tbr':
          this.tbr = this.tbr.replace(this.brackets, '');
          break;

        case 'spl':
          this.spl = this.spl.replace(this.delimiters, '');
          break;

        case 'tpl':
          this.tpl = this.tpl.replace(this.delimiters, '');
          break;

        default:
          break;
      }
    },
    addTerms(type: 'B' | 'P') {
      let sterms: string[];
      let tterms: string[];
      const terms: StTtMemoDoc[] = [];
      if (type === 'B') {
        sterms = this.sbr.split('\n');
        tterms = this.tbr.split('\n');
      } else {
        sterms = this.spl.split('\n');
        tterms = this.tpl.split('\n');
      }
      if (sterms.length !== tterms.length) {
        this.$store.commit('DisplayMessage', 'Number of Terms are different');
        return;
      } else {
        for (let i = 0; i < sterms.length; i++) {
          if (sterms[i] === '' || tterms[i] === '') {
            continue;
          } else {
            terms.push(
              {
                st: sterms[i],
                tt: tterms[i],
                memo: '',
              },
            );
          }
        }
      }
      const que: VSSetDBQue = {
        target: 'TBs',
        control: 'quickAddTermFromME',
        data: terms,
      };
      ipcRenderer.send('vs-setToDB', que);
    },
  },
});
</script>

<style>

.CardName {
  color:slategray;
  text-align: right;
  text-decoration-line: underline;
  font-style: italic;
  font-size: 0.7rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
}

</style>