<template>
  <v-card width="100%" outlined >
  <h3 class="CardName">CAT Information</h3>
  
      <!-- <p class="CurrentSt" v-html="stWithTerm" @dblclick='switchCatMode'></p> -->
          
    <!-- <p class="CurrentSt" v-html="stWithTerm" @dblclick='switchCatMode' v-if="!$store.state.TMSetter"></p> -->

    <cat-table-2c v-if="$store.state.viewMode==='2c'"/>
    <cat-table-3c v-if="$store.state.viewMode==='3c'"/>
    <cat-table-2cp v-if="$store.state.viewMode==='2cp'"/>
    <cat-table-2r v-if="$store.state.viewMode==='2r'"/>
    <cat-table-3r v-if="$store.state.viewMode==='3r'"/>
    <cat-table-2rp v-if="$store.state.viewMode==='2rp'"/>

  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { SimilarInfo, Opcode } from '../../core/pdbIF';
import catTable2c from './catTable2c.vue';
import catTable3c from './catTable3c.vue';
import catTable2cp from './catTable2cp.vue';
import catTable2r from './catTable2r.vue';
import catTable3r from './catTable3r.vue';
import catTable2rp from './catTable2rp.vue';

export default Vue.extend({
  data() {
    return {
      modes: ['plain', 'colored', 'rep', 'bi'],
      modesId: 0,
    };
  },
  components: {
    catTable2c,
    catTable3c,
    catTable2cp,
    catTable2r,
    catTable3r,
    catTable2rp,
  },
  computed: {
    stWithTerm(): string {
      let ost = this.$store.state.catData.annotated;
      const mode = this.modes[this.modesId];
      const usedTerms = this.$store.state.catData.usedTerms;
      const usedTermsNum = usedTerms.length;
      if (mode === 'plain') {
        ost = this.$store.state.catData.st;
      } else if (mode === 'colored') {
        for (let i = 0; i < usedTermsNum; i++) {
          const sTermDummy = new RegExp('\\[_#' + String(i) + '_\\]', 'g');
          const tTerm = `<span class='term-S'> ${usedTerms[i][0]}</span>`;
          ost = ost.replace(sTermDummy, tTerm);
        }
      } else if (mode === 'rep') {
        for (let i = 0; i < usedTermsNum; i++) {
          const sTermDummy = new RegExp('\\[_#' + String(i) + '_\\]', 'g');
          const tTerm = `<span class='term-T'> ${usedTerms[i][1]}</span>`;
          ost = ost.replace(sTermDummy, tTerm);
        }
      } else if (mode === 'bi') {
        for (let i = 0; i < usedTermsNum; i++) {
          const sTermDummy = new RegExp('\\[_#' + String(i) + '_\\]', 'g');
          const tTerm = `
            <span class='term-S'> ${usedTerms[i][0]}</span><span class='term-T'> ${usedTerms[i][1]}</span>`;
          ost = ost.replace(sTermDummy, tTerm);
        }
      }
      return ost;
    },
  },
  methods: {
    switchCatMode() {
      this.modesId = (this.modesId + 1) % 4;
    },
  },
});
</script>

<style>

tr, td {
  border-style: solid;
  border: ridge;
}

tr.newTM {
  background-color: forestgreen;
}

span.ins {
  color: blue;
  font-weight: bold;
}

span.del {
  color: red;
  text-decoration: line-through;
  font-size: 0.8em;
}

span.term-S {
  background:firebrick;
  color: white;
  text-decoration: underline;
}

span.term-T {
  background: khaki;
  font-size: 120%;
  font-weight: bolder;
}

p.CurrentSt {
  font-size: 1.2rem;
  padding: 8px;
}

</style>
