<template>
  <v-slide-y-reverse-transition>
    <v-card width="100%" color="#EEEEEE">
      <v-card-text v-if="external" style="color: red">THIS TM IS IN EXTERNAL FILE</v-card-text>
      <v-simple-table dense width="95%" class="ma-2 pa-2">
        <tr>
          <th width="35%">Source</th>
          <th width="35%">Target</th>
          <th width="30%">Memo</th>
        </tr>
        <tr>
          <v-textarea
              label="Edit Source Segment"
              v-model="est"
              @keyup.ctrl="keyWithCtrlinSource"
            ></v-textarea>
          <td>
            <v-textarea
              label="Edit Target Segment"
              v-model="ett"
              @keyup.ctrl="keyWithCtrlinTarget"
            ></v-textarea>
          </td>
          <td>
            <v-textarea
              label="Edit TM Memo"
              v-model="ememo"
              @keyup.ctrl="keyWithCtrlinMemo"
            ></v-textarea>
          </td>
        </tr>
        <tr>
          <td>
            <ol>
              <li v-for="(stm, stmx) in sterms" :key="'stm' + stmx">
                <v-chip outlined small close @click:close="removeSterm(stmx)">{{ stm }}</v-chip>
              </li>
            </ol>
          </td>
          <td>
            <ol>
              <li v-for="(ttm, ttmx) in tterms" :key="'ttm' + ttmx">
                <v-chip outlined small close @click:close="removeTterm(ttmx)">{{ ttm }}</v-chip>
              </li>
            </ol>
          </td>
          <td>
            <ol>
              <li v-for="(mtm, mtmx) in tbmemos" :key="'mtm' + mtmx">
                <v-chip outlined small close @click:close="removeTBmemo(mtmx)">{{ mtm }}</v-chip>
              </li>
            </ol>
          </td>
        </tr>
        <tr>
            <td colspan="4" class="text-center">
              <v-btn color="cyan darken-4" class="ma-2" @click="confirmEdit" :disabled="!$store.state.editingData.cg">Confirm</v-btn>
              <v-btn color="cyan darken-4" class="ma-2" outlined @click="cancelEdit">Cancel</v-btn>
              <v-btn :color="toDelete ? 'error' : 'cancel'" class="ma-2" @click="deleting" :disabled="!$store.state.editingData.cg">Delete</v-btn>
              <v-btn color="cyan darken-4" class="ma-2" text @click="quickTerm">Add Term</v-btn>
            </td>
        </tr>
      </v-simple-table>
    </v-card>
  </v-slide-y-reverse-transition>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { StTtMemoDoc, VSSetDBQue } from '../../core/pdbIF';

interface HTMLElementEvent<T extends HTMLElement> extends KeyboardEvent {
    target: T;
}

export default Vue.extend({
  data() {
    const sterms: string[] = [];
    const tterms: string[] = [];
    const tbmemos: string[] = [];
    return {
      est: this.$store.state.editingData.st,
      ett: this.$store.state.editingData.tt,
      ememo: this.$store.state.editingData.memo,
      external: this.$store.state.editingData.fid === 0 ? false : true,
      sterms,
      tterms,
      tbmemos,
      toDelete: false,
    };
  },
  computed: {
    initial() {
      return this.$store.state.editingData.displayTM;
    },
  },
  watch: {
    initial() {
      this.est = this.$store.state.editingData.st;
      this.ett = this.$store.state.editingData.tt;
      this.ememo = this.$store.state.editingData.memo;
      this.external = this.$store.state.editingData.fid === 0 ? false : true;
      this.sterms = [];
      this.tterms = [];
      this.tbmemos = [];
      this.toDelete = false;
    },
  },
  methods: {
    confirmEdit(): void {
      if (this.est === this.$store.state.editingData.st
        && this.ett === this.$store.state.editingData.tt
        && this.ememo === this.$store.state.editingData.memo) {
          this.cancelEdit();
          return;
      }
      const que: VSSetDBQue = {
        target: 'TMs',
        control: 'confirmValFromME',
        data: {
          st: this.est,
          tt: this.ett,
          memo: this.ememo,
        },
      };
      ipcRenderer.send('vs-setToDB', que);
      this.$store.commit('CloseMiniEditor');
    },
    cancelEdit(): void {
      this.est = this.$store.state.editingData.st;
      this.ett = this.$store.state.editingData.tt;
      this.ememo = this.$store.state.editingData.memo;
      this.$store.commit('CloseMiniEditor');
    },
    keyWithCtrlinSource(ev: HTMLElementEvent<HTMLInputElement>) {
      ev.preventDefault();
      if (ev.key === 't') {
        const start: number | null = ev.target.selectionStart;
        const end: number | null = ev.target.selectionEnd;
        if (start !== null && end !== null) {
          this.sterms.push(this.est.substr(start, end - start));
        }
      }
    },
    keyWithCtrlinTarget(ev: HTMLElementEvent<HTMLInputElement>) {
      ev.preventDefault();
      if (ev.key === 't') {
        const start: number | null = ev.target.selectionStart;
        const end: number | null = ev.target.selectionEnd;
        if (start !== null && end !== null) {
          this.tterms.push(this.ett.substr(start, end - start));
        }
      }
    },
    keyWithCtrlinMemo(ev: HTMLElementEvent<HTMLInputElement>) {
      ev.preventDefault();
      if (ev.key === 't') {
        const start: number | null = ev.target.selectionStart;
        const end: number | null = ev.target.selectionEnd;
        if (start !== null && end !== null) {
          this.tbmemos.push(this.ememo.substr(start, end - start));
        }
      }
    },
    removeSterm(stmx: number) {
      this.sterms.splice(stmx, 1);
    },
    removeTterm(ttmx: number) {
      this.tterms.splice(ttmx, 1);
    },
    removeTBmemo(mtmx: number) {
      this.tbmemos.splice(mtmx, 1);
    },
    deleting() {
      if (this.toDelete) {
        const que: VSSetDBQue = {
          target: 'TMs',
          control: 'deleteValFromME',
          data: {
            fid: this.$store.state.editingData.fid,
            keyId: this.$store.state.editingData.keyId,
          },
        };
        ipcRenderer.send('vs-setToDB', que);
        this.cancelEdit();
      } else {
        this.toDelete = true;
      }
    },
    quickTerm() {
      if (this.sterms.length !== this.tterms.length) {
        console.log('the num of terms are not same');
      } else {
        const newTerms: StTtMemoDoc[] = [];
        for (let i = 0; i < this.sterms.length; i++) {
          const newTerm = {
            st: this.sterms[i],
            tt: this.tterms[i],
            memo: this.tbmemos.length > i ? this.tbmemos[i] : '',
          };
          newTerms.push(newTerm);
        }
        const que: VSSetDBQue = {
          target: 'TBs',
          control: 'quickAddTermFromME',
          data: newTerms,
        };
        ipcRenderer.send('vs-setToDB', que);
        this.cancelEdit();
      }
    },
  },
});
</script>

<style>

.mid-liine {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

</style>
