<template>
  <v-simple-table dense width="95%">
    <thead>
      <tr>
        <th width="3%">No.</th>
        <th width="4%">Ratio</th>
        <th width="89%">Segments</th>
        <th width="4%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="rowTitle" rowspan="2">New</td>
        <td class="rowTitle" rowspan="2">
          <v-badge
            right
            overlap
            :color="statusColor"
            v-if="$store.state.TMSetter">
            <v-icon slot="badge" float dark small>{{ $store.getters.TMSetterData }}</v-icon>
          </v-badge>
        </td>
        <td v-if="$store.state.catMode !=='R'">{{ $store.state.catData.st }}</td>
        <td v-if="$store.state.catMode ==='R'">{{ $store.state.catData.tt }}</td>
        <td rowspan="2"><edit-button v-if="$store.state.catData.tt !==''" :fid="0" :keyId="-1" :dbType="'TMs'"/></td>
      </tr>
      <tr>
        <td v-if="$store.state.catMode ==='R'">{{ $store.state.catData.st }}</td>
        <td v-if="$store.state.catMode !=='R'">{{ $store.state.catData.tt }}</td>
      </tr>
    </tbody>
    <tbody v-for='(sims, idx) in $store.state.catData.similars' :key='idx'
      :style="{background: sims.ratio === 100? 'aquamarine' : sims.ratio >90? 'mediumaquamarine': ''}">
      <tr>
        <td class="rowTitle" rowspan="2">{{ idx }}</td>
        <td class="rowTitle" rowspan="2">{{ sims.ratio }}</td>
        <td v-if="$store.state.catMode !=='R'"><opcode-text :idx="idx"/></td>
        <td v-if="$store.state.catMode ==='R'"><opcode-text-target :idx="idx"/></td>
        <td rowspan="2"><edit-button :fid="sims.fid" :keyId="sims.keyId" :dbType="'TMs'"/></td>
      </tr>
      <tr>
        <td v-if="$store.state.catMode ==='R'"><opcode-text :idx="idx"/></td>
        <td v-if="$store.state.catMode !=='R'"><opcode-text-target :idx="idx"/></td>
      </tr>
    </tbody>
  </v-simple-table>
</template>

<script lang="ts">
import Vue from 'vue';
import { SimilarInfo, Opcode, VSGetDBQue } from '../../core/pdbIF';
import { ipcRenderer } from 'electron';
import editButton from './editButton.vue';
import opcodeText from './opcodeText.vue';
import opcodeTextTarget from './opcodeTextTarget.vue';

export default Vue.extend({
  data: () => ({
  }),
  components: {
    opcodeText,
    opcodeTextTarget,
    editButton,
  },
  computed: {
    statusColor(): 'primary' | 'success' | 'error' | '' {
      switch (this.$store.getters.TMSetterData) {
        case '✓':
          return 'primary';
          break;

        case '':
          return 'success';
          break;

        case '!':
          return 'error';
          break;

        default:
          return '';
          break;
      }
    },
  },
});
</script>

<style>

</style>
