<template>
  <tbody>
    <tr v-for='(sims, idx) in $store.state.catData.similars' :key='idx' 
      :style="{background: sims.toCheck.tgtRatio === 100? 'aquamarine' : sims.toCheck.tgtRatio >90? 'mediumaquamarine': ''}">
      <td class="rowTitle">{{ idx }}</td>
      <td class="rowTitle">{{ sims.ratio }} : {{ sims.toCheck.tgtRatio }}</td>
      <td v-html='stWithOpcode[idx]'></td>
      <td v-html='ttWithOpcode[idx]'></td>
      <td>{{ sims.memo }}</td>
      <td @click="editTM(sims.fid, sims.keyId)">[E]</td>
    </tr>
  </tbody>
</template>

<script lang="ts">
import Vue from 'vue';
import { SimilarInfo, Opcode, VSGetDBQue } from '../../core/pdbIF';
import { ipcRenderer } from 'electron';

export default Vue.extend({
  data: () => ({
  }),
  methods: {
    editTM(fid: number, keyId: number) {
      const vm = this;
      if (
        this.$store.state.editingData.display
        && this.$store.state.editingData.fid === fid
        && this.$store.state.editingData.keyId === keyId
      ) {
       this.$store.commit('CloseMiniEditor');
      } else {
        const que: VSGetDBQue = { target: 'TMs', control: 'ME', data: {fid, keyId} };
        ipcRenderer.send('vs-getFromDB', que);
      }
    },
  },
  computed: {
    stWithOpcode(): string[] {
      const simsInStore: SimilarInfo[]  = this.$store.state.catData.similars.slice();
      const tempSimsWithOpcode: string[] = [];
      // OpcodeのDelete / Replace 用にオリジナルテキストをとっておく
      const currentSegment = this.$store.state.catData.st;
      for (const sim of simsInStore) {
        // 類似テキストを一つずつ取得して処理
        // V-htmlに埋め込むので、Opcodeに沿って処理をする前に、サニタイズしておく
        let simst: string = sim.st.replace(/</g, '&lt;').replace(/>/g, '&gt;');
        const processCodes: Opcode[] = sim.opcode.reverse();
        for (const processCode of processCodes) {
          switch (processCode[0]) {
            case 'equal':
              break;
            case 'delete':
              simst =
                simst.slice(0, processCode[3]) +
                '<span class="ins">' + currentSegment.slice(processCode[1], processCode[2]) + '</span>' +
                simst.slice(processCode[4]);
              break;
            case 'replace':
              simst =
                simst.slice(0, processCode[3]) +
                '<span class="ins">' + currentSegment.slice(processCode[1], processCode[2]) + '</span>' +
                '<span class="del">' + simst.slice(processCode[3], processCode[4]) + '</span>' +
                simst.slice(processCode[4]);
              break;
            case 'insert':
              simst =
                simst.slice(0, processCode[3]) +
                '<span class="del">' + simst.slice(processCode[3], processCode[4]) + '</span>' +
                simst.slice(processCode[4]);
              break;
            default:
              break;
          }
        }
        tempSimsWithOpcode.push(simst);
      }
      return tempSimsWithOpcode;
    },
    ttWithOpcode(): string[] {
      const tgtSimsInStore: SimilarInfo[]  = this.$store.state.catData.similars.slice();
      const tempSimsWithOpcode: string[] = [];
      // OpcodeのDelete / Replace 用にオリジナルテキストをとっておく
      const currentSegment = this.$store.state.catData.tt;
      for (const sim of tgtSimsInStore) {
        // 類似テキストを一つずつ取得して処理
        // V-htmlに埋め込むので、Opcodeに沿って処理をする前に、サニタイズしておく
        let ttInTM: string = '';
        if (sim.toCheck === undefined) {
          tempSimsWithOpcode.push('');
        } else {
          ttInTM = sim.toCheck.ttInTM.replace(/</g, '&lt;').replace(/>/g, '&gt;');
          const processCodes: Opcode[] = sim.toCheck.tgtOpcode.reverse();
          for (const processCode of processCodes) {
            switch (processCode[0]) {
              case 'equal':
                break;
              case 'delete':
                ttInTM =
                  ttInTM.slice(0, processCode[3]) +
                  '<span class="ins">' + currentSegment.slice(processCode[1], processCode[2]) + '</span>' +
                  ttInTM.slice(processCode[4]);
                break;
              case 'replace':
                ttInTM =
                  ttInTM.slice(0, processCode[3]) +
                  '<span class="ins">' + currentSegment.slice(processCode[1], processCode[2]) + '</span>' +
                  '<span class="del">' + ttInTM.slice(processCode[3], processCode[4]) + '</span>' +
                  ttInTM.slice(processCode[4]);
                break;
              case 'insert':
                ttInTM =
                  ttInTM.slice(0, processCode[3]) +
                  '<span class="del">' + ttInTM.slice(processCode[3], processCode[4]) + '</span>' +
                  ttInTM.slice(processCode[4]);
                break;
              default:
                break;
            }
          }
          tempSimsWithOpcode.push(ttInTM);
        }
      }
      return tempSimsWithOpcode;
    },
  },
});
</script>

<style>

tr, td {
  border-style: solid;
  border: ridge;
}

tr.newTM {
  background-color: forestgreen;
}

span.ins {
  color: blue;
  font-weight: bold;
}

span.del {
  color: red;
  text-decoration: line-through;
  font-size: 0.8em;
}

span.tb-S {
  background:firebrick;
  color: white;
  text-decoration: underline;
}

span.tb-T {
  background: khaki;
  font-size: 120%;
  font-weight: bolder;
}

</style>
