<template>
  <div @click="editStart(fid, keyId)">[E]</div>
</template>

<script lang="ts">
import Vue from 'vue';
import { VSGetDBQue } from '../../core/pdbIF';
import { ipcRenderer } from 'electron';

export default Vue.extend({
  props: ['fid', 'keyId', 'dbType'],
  data: () => ({
  }),
  methods: {
    editStart(fid: number, keyId: number) {
      const target = this.dbType === 'TMs' ? 'TMs' : 'TBs';
      const que: VSGetDBQue = { target, control: 'ME', data: {fid, keyId} };
      ipcRenderer.send('vs-getFromDB', que);
    },
  },
});
</script>

<style>

</style>
