<template>
  <div v-html='simsWithOpcode'></div>
</template>

<script lang="ts">
import Vue from 'vue';
import { SimilarInfo, Opcode } from '../../core/pdbIF';

export default Vue.extend({
  data: () => ({
  }),
  props: ['idx'],
  computed: {
    simsWithOpcode(): string {
      const simsInStore: SimilarInfo = this.$store.state.catData.similars[this.idx];
      // OpcodeのDelete / Replace 用にオリジナルテキストをとっておく
      const currentSegment = this.$store.state.catData.st;
      // 類似テキストを一つずつ取得して処理
      // V-htmlに埋め込むので、Opcodeに沿って処理をする前に、サニタイズしておく
      let simst: string = simsInStore.st.replace(/</g, '&lt;').replace(/>/g, '&gt;');
      const processCodes: Opcode[] = simsInStore.opcode.slice().reverse();
      for (const processCode of processCodes) {
        switch (processCode[0]) {
          case 'equal':
            break;
          case 'delete':
            simst =
              simst.slice(0, processCode[3]) +
              '<span class="ins">' + currentSegment.slice(processCode[1], processCode[2]) + '</span>' +
              simst.slice(processCode[4]);
            break;
          case 'replace':
            simst =
              simst.slice(0, processCode[3]) +
              '<span class="ins">' + currentSegment.slice(processCode[1], processCode[2]) + '</span>' +
              '<span class="del">' + simst.slice(processCode[3], processCode[4]) + '</span>' +
              simst.slice(processCode[4]);
            break;
          case 'insert':
            simst =
              simst.slice(0, processCode[3]) +
              '<span class="del">' + simst.slice(processCode[3], processCode[4]) + '</span>' +
              simst.slice(processCode[4]);
            break;
          default:
            break;
        }
      }
      return simst;
    },
  },
});
</script>

<style>

tr, td {
  border-style: solid;
  border: ridge;
}

tr.newTM {
  background-color: forestgreen;
}

span.ins {
  color: blue;
  font-weight: bold;
}

span.del {
  color: red;
  text-decoration: line-through;
  font-size: 0.8em;
}

span.tb-S {
  background:firebrick;
  color: white;
  text-decoration: underline;
}

span.tb-T {
  background: khaki;
  font-size: 120%;
  font-weight: bolder;
}

</style>
