<template>
  <div v-html='ttWithOpcode'></div>
</template>

<script lang="ts">
import Vue from 'vue';
import { SimilarInfo, Opcode } from '../../core/pdbIF';

export default Vue.extend({
  data: () => ({
  }),
  props: ['idx'],
  computed: {
    ttWithOpcode(): string {
      if (this.$store.state.catMode === 'T') {
        return this.$store.state.catData.similars[this.idx].tt.replace(/</g, '&lt;').replace(/>/g, '&gt;');
      } else if (this.$store.state.catMode === 'C' || this.$store.state.catMode === 'R') {
        const tgtSimsInStore: SimilarInfo  = this.$store.state.catData.similars[this.idx];
        // OpcodeのDelete / Replace 用にオリジナルテキストをとっておく
        const currentSegment = this.$store.state.catData.tt;
        // 類似テキストを一つずつ取得して処理
        // V-htmlに埋め込むので、Opcodeに沿って処理をする前に、サニタイズしておく
        let ttInTM: string = '';
        if (tgtSimsInStore.toCheck === undefined) {
          return tgtSimsInStore.tt;
        } else {
          ttInTM = tgtSimsInStore.toCheck.ttInTM.replace(/</g, '&lt;').replace(/>/g, '&gt;');
          const processCodes: Opcode[] = tgtSimsInStore.toCheck.tgtOpcode.slice().reverse();
          for (const processCode of processCodes) {
            switch (processCode[0]) {
              case 'equal':
                break;
              case 'delete':
                ttInTM =
                  ttInTM.slice(0, processCode[3]) +
                  '<span class="ins">' + currentSegment.slice(processCode[1], processCode[2]) + '</span>' +
                  ttInTM.slice(processCode[4]);
                break;
              case 'replace':
                ttInTM =
                  ttInTM.slice(0, processCode[3]) +
                  '<span class="ins">' + currentSegment.slice(processCode[1], processCode[2]) + '</span>' +
                  '<span class="del">' + ttInTM.slice(processCode[3], processCode[4]) + '</span>' +
                  ttInTM.slice(processCode[4]);
                break;
              case 'insert':
                ttInTM =
                  ttInTM.slice(0, processCode[3]) +
                  '<span class="del">' + ttInTM.slice(processCode[3], processCode[4]) + '</span>' +
                  ttInTM.slice(processCode[4]);
                break;
              default:
                break;
            }
          }
        }
        return ttInTM;
      }
      return '';
    },
  },
});
</script>

<style>

tr, td {
  border-style: solid;
  border: ridge;
}

tr.newTM {
  background-color: forestgreen;
}

span.ins {
  color: blue;
  font-weight: bold;
}

span.del {
  color: red;
  text-decoration: line-through;
  font-size: 0.8em;
}

span.tb-S {
  background:firebrick;
  color: white;
  text-decoration: underline;
}

span.tb-T {
  background: khaki;
  font-size: 120%;
  font-weight: bolder;
}

</style>
