<template>
  <tbody>
    <tr v-for='(termsInfo, idx) in $store.state.catData.usedTerms' :key="'used' + idx">
      <td class="rowTitle">{{ idx }}</td>
      <td>{{ termsInfo.st }}</td>
      <td>{{ termsInfo.tts.join('\n') }}</td>
      <td>{{ termsInfo.memo }}</td>
      <td><edit-button :fid="termsInfo.fid" :keyId="termsInfo.keyId" :dbType="'TBs'"/></td>
    </tr>
  </tbody>
</template>

<script lang="ts">
import Vue from 'vue';
import editButton from './editButton.vue';

export default Vue.extend({
  data: () => ({
  }),
  components: {
    editButton,
  },
  methods: {
  },
});
</script>

<style>

</style>
