<template>
  <v-card width="100%" outlined>
    <h3 class="CardName">Termbase Information</h3>
      <v-simple-table dense width="95%" color="cyan lighten-4">
        <tr>
          <th width="7%">No.</th>
          <th width="30%">Source</th>
          <th width="30%">Target</th>
          <th width="30%">Memo</th>
          <th width="3%"></th>
        </tr>
        <tb-body />
    </v-simple-table>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import tbBody from './tbBody.vue';

export default Vue.extend({
  components: {
    tbBody,
  },
  computed: {
  },
});
</script>

<style>

</style>
