<template>
  <v-slide-y-reverse-transition>
    <v-card width="100%" color="#EEEEEE">
      <v-card-text v-if="external" style="color: red">THIS TM IS IN EXTERNAL FILE</v-card-text>
      <v-simple-table dense width="95%" class="ma-2 pa-2">
        <tr>
          <th width="35%">Source</th>
          <th width="35%">Target</th>
          <th width="30%">Memo</th>
        </tr>
        <tr>
          <v-textarea
              label="Edit Source Term"
              v-model="est"
            ></v-textarea>
          <td>
            <v-textarea
              label="Edit Target Term"
              v-model="ett"
            ></v-textarea>
          </td>
          <td>
            <v-textarea
              label="Edit TB Memo"
              v-model="ememo"
            ></v-textarea>
          </td>
        </tr>
        <tr>
            <td colspan="4" class="text-center">
              <v-btn color="cyan darken-4" class="ma-2" @click="confirmEdit" :disabled="!$store.state.editingData.cg">Confirm</v-btn>
              <v-btn color="cyan darken-4" class="ma-2" outlined @click="cancelEdit">Cancel</v-btn>
              <v-btn :color="toDelete ? 'error' : 'cancel'" class="ma-2" @click="deleting" :disabled="!$store.state.editingData.cg">Delete</v-btn>
            </td>
        </tr>
      </v-simple-table>
    </v-card>
  </v-slide-y-reverse-transition>
</template>

<script lang="ts">
import Vue from 'vue';
import { ipcRenderer } from 'electron';
import { StTtMemoDoc, VSSetDBQue } from '../../core/pdbIF';

export default Vue.extend({
  data() {
    return {
      est: this.$store.state.editingData.st,
      ett: this.$store.state.editingData.tt,
      ememo: this.$store.state.editingData.memo,
      external: this.$store.state.editingData.fid === 0 ? false : true,
      toDelete: false,
    };
  },
  computed: {
    initial() {
      return this.$store.state.editingData.displayTB;
    },
  },
  watch: {
    initial() {
      this.est = this.$store.state.editingData.st;
      this.ett = this.$store.state.editingData.tt;
      this.ememo = this.$store.state.editingData.memo;
      this.external = this.$store.state.editingData.fid === 0 ? false : true;
      this.toDelete = false;
    },
  },
  methods: {
    confirmEdit(): void {
      if (this.est === this.$store.state.editingData.st
        && this.ett === this.$store.state.editingData.tt
        && this.ememo === this.$store.state.editingData.memo) {
          this.cancelEdit();
          return;
      }
      const que: VSSetDBQue = {
        target: 'TBs',
        control: 'confirmTBValFromME',
        data: {
          fid: this.$store.state.editingData.fid,
          keyId: this.$store.state.editingData.keyId,
          st: this.est,
          tt: this.ett,
          memo: this.ememo,
        },
      };
      ipcRenderer.send('vs-setToDB', que);
      this.$store.commit('CloseMiniEditor');
    },
    cancelEdit(): void {
      this.est = this.$store.state.editingData.st;
      this.ett = this.$store.state.editingData.tt;
      this.ememo = this.$store.state.editingData.memo;
      this.$store.commit('CloseMiniEditor');
    },
    deleting() {
      if (this.toDelete) {
        const que: VSSetDBQue = {
          target: 'TMs',
          control: 'deleteTBValFromME',
          data: {
            fid: this.$store.state.editingData.fid,
            keyId: this.$store.state.editingData.keyId,
          },
        };
        ipcRenderer.send('vs-setToDB', que);
        this.cancelEdit();
      } else {
        this.toDelete = true;
      }
    },
  },
});
</script>

<style>

.mid-liine {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

</style>
