<template>
    <v-snackbar
        v-model="$store.state.notice"
        :bottom="true"
        :color="'cyan darken-2'"
        :multi-line="'multi-line'"
    >
        {{ $store.state.message }}
        <v-btn text @click="closeMessage">CLOSE</v-btn>
    </v-snackbar> 
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend ({
    methods: {
        closeMessage() {
            this.$store.commit('CloseMessage');
        },
    },
});
</script>