<template>
  <v-app style="background:#EEEEEE">
    <v-content>
      <router-view />
    </v-content>
    <v-footer>
      <notice-bar />
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import noticeBar from './components/noticeBar.vue';

export default Vue.extend({
  name: 'App',
  components: {
    noticeBar,
  },
  data: () => ({
    //
  }),
  created() {
    this.$router.push('/cat');
  },
});
</script>

<style>


</style>